

  <div class="container-fluid" style="overflow: hidden;">
    <div class="row flex-nowrap">
        <div id="sidebar" class="col-auto sidebar  collapse collapse-horizontal show" 
            style="height: 100vh;">
            <nav class="">
                <header>
                  <div class="image-text">
                    <span class="image">
                    </span>
                    <div class="text logo-text ">
                      <img class="rounded-circle me-lg-2 logo1" src="../../assets/images/avatar.png" alt=""
                        style="width: 100px; height: 100px; margin-left: -40%;">
                    </div>
                  </div>
                  <div class="ad">
                  <h4 class="name">Abdoulaye SY</h4>
                  <P class="designation">ADMINISTRATEUR</P>
                </div>
                </header>
                <div class="menu-bar">
                  <div class="menu">
                    <li class="nav-link">
                      <a href="#" routerLinkActive="active" routerLink="/home">
                        <i class='bx bxs-home icon'></i>
                        <span class="text nav-text">Accueil</span>
                      </a>
                    </li>
                    <li class="nav-link">
                      <a href="#" routerLinkActive="active" routerLink="/listeministere">
                        <i class="bi bi-list-check icon"></i>
                        <span class="text nav-text">Liste Ministère</span>
                      </a>
                    </li>
                    <li class="nav-link">
                        <a href="#" routerLinkActive="active" routerLink="/listeidee">
                            <i class="bi bi-list-check icon"></i>
                          <span class="text nav-text">Liste Idée</span>
                        </a>
                      </li>
                    <li class="nav-link">
                      <a href="#" routerLinkActive="active" routerLink="/utilisateur">
                        <i class='bx bxs-user-circle icon'></i>
                        <span class="text nav-text">Utilisateurs</span>
                      </a>
                    </li>
                    <li class="nav-link">
                      <a href="#" routerLinkActive="active" routerLink="/notification">
                        <i class="bi bi-bell-fill icon"></i>
                        <span class="text nav-text">Notification</span>
                      </a>
                    </li>
                  </div>
                  <div class="bottom-content dec">
                    <li class="li">
                      <a href="#">
                        <i class='bx bx-power-off icon' style="color:white"></i>
                        <span class="text nav-text">Déconnexion</span>
                      </a>
                    </li>
                  </div>
                </div>
              
              </nav>
            
             <!-- </div> -->
        </div>
      
    </div>
</div>