<div class="wrap">
  <app-side-nav></app-side-nav>
  <div class="w" style="width: 100%">
    <h2 class="text-center" style="margin-top: 10px">
      Listes des utilisateurs
    </h2>
    <div class="row conte" >
      <table class="table table-striped table-hover">
        <thead class="thead">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Username</th>
            <th scope="col">Email</th>
            <th scope="col">Numéro</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let us of users">
            <th scope="row">{{us.id_user}}</th>    
            <td>{{us.username}}</td>
            <td>{{us.email}}</td>
            <td>{{us.numero}}</td>
            <td>{{us.addresse}}</td>
            <td>
              <div class="col">
                <i class="bi bi-trash3" style="color: red; font-size: 20px"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
